@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; } 
img{display: block;}
ul, ol { list-style:none; }
i,em{ font-style:normal;}
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
 select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
body {font-size:12px; color:#333;}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
a { color:#333; text-decoration:none; }
a:hover { color:#666; text-decoration:none; }
.wrap{width: 1000px; margin:0 auto;}
  /*代码开始*/

.header{height: 140px; background: url(../images/top_bg.jpg) repeat-x;}
.header-top-l{height: 36px; float: left;} 
.header-top-l li{float: left; padding-left: 22px; background:url(../images/eve_2.jpg) no-repeat left center;} 
.header-top-l li.two{background:url(../images/eve_3.jpg) no-repeat 8px center;}
.header-top-l li.three{ background:none; padding-left: 9px;}
.header-top-l li a{line-height: 36px;}
.header-top-r{height: 36px; float: right; }   
.header-top-r li{float: left;line-height: 36px; padding-right: 9px;}  
.header-top-r li a:hover{ text-decoration: underline;}  
.logo{height: 35px; border-bottom: 1px solid #000; padding-top: 17px;}  
.logo img{margin:0 auto; width: 208px; }
.nav{height: 51px; }

.nav li{float: left; height: 51px; padding:0 16px;}
.nav li.current{ background:#E7E7E7; }
.nav li a{ line-height: 51px; display:inline-block; height: 51px;}
/*.nav li a:hover{ background:#E7E7E7;}*/  

    
.foot{ background: #DBDAD6; height: 170px;}
.foot-ct{padding:20px 0 0 30px;}  
.foot .hezuo{width: 940px; height: 88px; background:url(../images/eve_bottom.jpg) repeat-x;}
.hezuo-one{float: left;width: 151px; height: 88px; margin-right: 30px; line-height: 88px; text-align: center;border-right: 1px solid #b1adaa; color:#fff;font-size: 14px;}
.foot .hezuo a{float: left; width: 102px; height: 88px; margin: 0 18px;}
.foot .hezuo .logo01{background:url(../images/eve_logo1.jpg) no-repeat;}
.foot .hezuo .logo02{background:url(../images/cina_logo1.jpg) no-repeat;}
.foot .hezuo .logo03{background:url(../images/nh_logo.jpg) no-repeat;}
.foot .hezuo .logo04{background:url(../images/kk_logo.jpg) no-repeat;}
.foot .hezuo .logo05{background:url(../images/jp_logo.jpg) no-repeat;}
.foot .hezuo a:hover{background-color:#3E1503;}
.foot-b{width: 578px; height: 48px;text-align: center; line-height: 24px; margin:5px 0 0 151px; border-left: 1px solid #B1ADAA; border-right: 1px solid #B1ADAA; float: left;}
.foot-b-r{width: 211px; height: 48px; float:left; line-height: 48px; text-align: center; margin-top: 5px;}



